<?xml version="1.0" encoding="utf-8"?>
<RareAlerter>
<!--=======================================================================
.CONFIG  -  This is the Config File For RareAlerter
========================================================================-->
<!-- AnitAFK Function -->
  <AntiAFK>True</AntiAFK>   <!-- Aktivate Keypresser for AnitAFK Function -->
  
<!-- Which Mobs and Objects do you wish to found -->
  <MOP>True</MOP>   <!-- Rare Mobs with Level 85-90 -->
  <CATA>True</CATA>   <!-- Rare Mobs with Level 80-85 -->
  <WOTLK>True</WOTLK>   <!-- Rare Mobs with Level 70-80 -->
  <BC>True</BC>   <!-- Rare Mobs with Level 60-70 -->
  <LowLevel>False</LowLevel>   <!-- Rare Mobs with Level 1-60 -->
  <Raptornest>True</Raptornest>   <!-- Raptor Nests for Pets -->
  <OnyxEgg>True</OnyxEgg>   <!-- Onyx Eggs -->
  <DarkSoil>True</DarkSoil>   <!-- Dark Soil -->
  
<!-- Bot behavior if he found something -->
  <StopBot>True</StopBot>   <!-- Stop Bot if found something -->
  <WaitBot>False</WaitBot>   <!-- Wait and Alert every 10 Seconds if found something -->
  
<!-- Wisper Alert -->
  <WisperAlert>True</WisperAlert>   <!-- Alert if you received a Wisper -->
  <GuildAlert>False</GuildAlert>     <!-- Alert if someone posts something in Guild -->
  
<!-- Developer Stuff -->
  <TEST>False</TEST>   <!-- Testmode on -->
</RareAlerter>